<div class='btn-group pull-left ax_filter_control'>
    <button class='btn btn-info'>Filter Records</button>
    <button class='btn btn-info dropdown-toggle ax_dropdown_toggle' data-toggle='dropdown'> <span class='caret'></span></button>
    <div class='dropdown-menu ax_filter_form'>
    	<form class='form-vertical'>
    		<div class='control-group'>
		     <label class='control-label' for='start_date'>Start Date:</label>
		     <div class='controls'>
		        <input type='text' id='start_date' placeholder='' class='long ax_date' ng-model='filter.startDate'>
		     </div>
		    </div>
		    <div class='control-group'>
		     <label class='control-label' for='end_date'>End Date:</label>
		     <div class='controls'>
		        <input type='text' id='end_date' placeholder='' class='long ax_date' ng-model='filter.endDate'>
		     </div>
		    </div>
		    <button class='btn btn-info'>Filter</button>
    	</form>
    </div>
</div>