<div class="btn-group pull-right ax_filter_control">
    <button class="btn btn-inverse dropdown-toggle " data-toggle="dropdown"> 
    	 <i class="icon icon-edit icon-white"></i>
    	<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="filter_caption"> <i class="icon icon-print"></i> PRINT </li>
        <li class="divider"></li>
    	<li> <a href="" ng-click="printPage('single')"> current page </a> </li>
        <li> <a href="" ng-click="printPage('all')"> all pages </a> </li>
        <!-- <li class="divider"></li>
    	<li class="filter_caption"> Export As </li>
    	<li class="divider"></li>
    	<li> <a href="#"> <i class="icon"></i> PDF </a> </li>
    	<li> <a href="#"> <i class="icon"></i> CSV </a> </li> -->
	</ul>
</div>